body{
    border: 5px solid black;
    width: 50%;
    margin: 30%;
}
h1{
    color:rgb(60, 233, 147);
    text-align: center;
}

.stagetitle{
    margin-left: 250px;
    color: blanchedalmond;
}

#intro{
    margin: 50px;
    text-align: center;
}

#born{
    text-align: center;
}

.sidebar{
    margin-left: 70px;

}

.midbar{
    margin-left: 200px;
}

.titleside{
    margin-right: 50px;
    color: rgb(218, 72, 23);
    text-align: center;
}

.maintitle{
    margin-right: 20px;
    color: darkblue;
    text-align: center;
}

.titletop{
    margin-left: 50px;
}

#principal{
    display: flex;
    flex-direction: row;
    margin-left: -200px;

}

.container {
    width: 100%; /* Ajuste la largeur de l'encadré */
    background-color: rgb(76, 144, 161); /* Ajoute un fond blanc à l'encadré */
    border-radius: 10px; /* Ajoute des coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet visuel */
}   




